*{
    margin: 0;
    padding: 0;
}

.pinknav_bar{
    background: linear-gradient(to bottom, #6d0435, #ee4a73)
;
    display: flex;
    gap: 15px;
    padding: 5px;       
}


.pinknav_bar a{

    margin: 10px;
    text-decoration: none;
    color:white;
    font-size: 17px;
    font-weight: 200;
    transition: all .5s;
    
}



.nav_bar_left{


    margin-left: 5%;
    transition: all 500ms;
}

.nav_bar_left a:last-child{
    padding-left: 100px;
    transition: all 500ms;
}

.nav_bar_left i{

    padding: 3px;
}

.nav_bar_right{
    margin-left: 30.2%;
}

.whitenav_bar{
    display: flex;
    background-color: white;
    padding: 20px;
    

}

.whitenav_bar h1{
    margin-left:80px;
    color: linear-gradient(to bottom, #6d0435, #ee4a73);
    weight:bold;

}

.whitenav_right a{

    text-decoration: none;
    color: black;
    padding: 20px;
    margin-left: 80px;
    font-size: 16.5px;
    font-weight: bold;
}

.whitenav_right{

    margin-top: 15px;
    gap: 30px;   
}


.whitenav_right a:hover{
   text-decoration: underline;
   color: #ee4a73;
   transition: .4s;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -ms-transition: .4s;
   -o-transition: .4s;
}

.training{

    text-align: center;
    background: linear-gradient(to bottom, #6d0435, #ee4a73);
    padding: 15px;
    color: white;
}

/* hero section starts here */

.hero_section{
    margin-top: 20px;
    margin-left: 10%;
    display: flex;
}

.hero_section_left .green{

    margin-top:20px ;
    background:#14926e;
    height: 19em;
    width: 19em;
    color: white;   
}

.green :hover{
    cursor: pointer;
    color: rgb(214, 211, 211);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.green h3{

    padding: 20px;
    font-size: 1.5em;
}

.green p{

    padding-bottom:10px ;
    margin-left: 20px;
    border-bottom: 1px solid #ffffff;
}

.hero_section_left .light{

    background: #00b286;
    height: 25.5em;
    width: 19em;
    color: white;
    

}

.light h3{


    padding: 25px;
    font-size: 1.5em;
}


.light p{
    padding: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #ffffff;
    
}

.marun{

    background:#ae976d ;
    height: 25.5em;
    width: 19em;
    color: white;

}

.marun h3{

    margin-left: 10px;
    padding: 25px;
    font-size: 1.5em;
}


.marun p{
    padding: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #ffffff;
    
}


.hero_section_right{
    width: 60em;
    margin-top:21px;
    margin-left: 4%;
    margin-right: 10%;
    
}

.hero_section_right img{
    max-width: 100%;
}

.hero_section_right h1{

    margin-left: 15%;
    padding: 40px;
    color: #14926e;
}

.hero_section_right p{

    max-width: 100%;
    line-height: 35px;
    text-align: justify;
    font-family: arial, helvetica, sans-serif;
    
}







.footer{
    background: linear-gradient(to bottom, #6d0435, #ee4a73);
    display:flex;
}

.footer_left{
    color:#ffffff;
    margin-left: 5%;
    padding: 20px;
    font-size: 20px;
}

.footer_left p{
    padding: 10px;
}

.footer_right {
    margin-left: 30%;
    padding-top: 30px;
    font-size: 20px;
}

.footer_right a{
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;

}


.footer_right span{

    padding: 10px;
}
